/* 
    Created on : 20-Nov-2018, 00:08:35
    Author     : Drazen
*/
.crveniFont{
    font-size: 1.2em;
    font-family: Verdana;
    color: red;
}

.tabela{
    padding: 5px;
    border-width: 3px;
    border-style: dotted;
    border-color: blue;
}
.tabela-unutra-neparni, .tabela-unutra-parni{
    border-width: 3px;
    text-align: center;
}
.tabela-unutra-parni{
    background-color: cyan;
}

.zaglavlje{
    text-align: center;
    background-color: yellow;
}

.crvena{
    color: red;
    background: grey;
}
.zelena{
    color:greenyellow;
    background: gainsboro;
}